.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
*{
  font-family: 'Raleway', sans-serif
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

img{
  width: 17vmin;
  height: 17vmin;
  margin-right: 2vw;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin-top: 2.5%;
}
 
.studentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  text-align: left;
  padding-top: 2vmin;
  padding-bottom: 2vmin;
}
.studentInfo {
  width: 75%;
  order: 2;
  color: darkslategrey;
}
.studentName {
  font-weight: 750;
  font-size: calc(8px + 2vmin);
  color: black;
}
.nameShearch {
  align-self: center;
  border: none;
  font-weight: 100;
  color: #666363;
  width: 96%;
  font-size: calc(10px + 1vmin);
  line-height: calc((9px + 1vmin) * 2);
  height: calc((10px + 1vmin) * 2);
  border-bottom: 1px solid rgba(136, 127, 127, 0.438);
  font-family: 'Raleway', sans-serif;
  outline: none;
}
.tagInput{
  border: none;
  font-family: 'Raleway', sans-serif;
  outline: none;
  border-bottom: 1px solid rgba(136, 127, 127, 0.438);
}

#tags {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 8px 0 0 0;
}

.tag {
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  padding: 0 8px;
  font-size: 14px;
  list-style: none;
  border-radius: 6px;
  margin: 0 8px 8px 0;
  background: #0052cc;
}
.tag .tag-title {
  margin-top: 3px;
}
.tag .tag-close-icon {
  display: block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  font-size: 14px;
  margin-left: 8px;
  color: #0052cc;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
